<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    xmlns:tools="http://schemas.android.com/tools" package="com.opentransport.openride" android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />
    <application android:name="com.opentransport.openride.MainApplication" android:allowBackup="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <meta-data android:name="com.bugsnag.android.API_KEY" android:value="598743f2541cc795e560735266d05ff7"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCmYvf5VBGELkRiZSp4Ef0LVeRBUfcm9jg"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.opentransport.openride.MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name="com.facebook.FacebookActivity" android:configChanges=                "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
    </application>
</manifest>